@import '_variables.scss';


.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: $font-size-bg;
    color: $color-title;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: $font-size-sm;
    color: $color-text;
}